

  <li>

    <% unless current_user == @user %>

      <%= render partial: "shared/trip_subscribe_buttons", locals: { trip: trip } %>

    <% end %>

    <big>
      <%= link_to trip.name, trip_path(trip) %>
    </big>
    <small><em>
      &#35<%= link_to trip.hashtag, "#" %>
    </em></small>

    <% if @user == current_user &&
          @user != trip.creator &&
          trip.admins.include?(current_user) %>
      <span class="admin-indicator">(admin)</span>
    <% end %>

    <% if trip.public_view %>
      | 
      <small>
        <%= render partial: "shared/trip_subscriber_stats", locals: { trip: trip } %>
      </small>
    <% end %>

    <br/>
    <small><em>
      Created on <%= trip.created_at.strftime "%A, %-B %-d, %Y" %>
      by <%= link_to trip.creator.username, trip.creator %>
    </em></small>

  </li>
