<% content_for(:title) { "Trip Settings"} %>
<%= content_tag(:div, id: "admin-url", data: {url: trip_trip_administratorings_url(@trip) } ) {} %> 
<%= content_tag(:div, id: "whitelist-url", data: {url: trip_trip_whitelistings_url(@trip) } ) {} %> 
<%= content_tag(:div, id: "trip-url", data: {url: trip_url(@trip) } ) {} %> 

<div class="trip-form">
	<h1>
	  Trip Settings: <%= @trip.name %>
	</h1>
	<p>
		<em>Created by <%= @trip.creator.username %></em>
	</p>

	<%= render partial: 'form' %>
	<br />
	<%= render partial: 'advanced_settings' %>

	<%= javascript_include_tag "trip_edit" %>
</div>