<% content_for(:title) { @trip.name } %>

<h1>
  <%= "#{@trip.name}" %>
</h1>
<p>
  <em>Created by <%= link_to "#{@trip.creator.username}", @trip.creator %></em>
   | <%= render partial: "shared/trip_subscriber_stats", locals: { trip: @trip } %>
</p>

<% if current_user == @trip.creator %>
  <div>
    <%= link_to "Delete", trip_path(@trip), method: :delete, confirm: "Are you sure you want to delete this trip?" %>
    |
    <%= link_to "Edit", edit_trip_path(@trip) %>
  </div>
<% elsif current_user && current_user.administrates(@trip)%>
  <div>
    <%= link_to "Edit", edit_trip_path(@trip) %>
  </div>
<% end %>

<h3>
  <%= "#{@trip.tagline}"%>
</h3>
<p>
  <strong>
    &#35<%= "#{@trip.hashtag}" %>
  </strong>
</p>
<p>
  <%= "#{@trip.description}" %>
</p>