<div id="user-following-sidebar">
	<% unless current_user == @user %>

		<div id="user-following-form">
			<%= render partial: "shared/following_buttons", locals: { user: @user } %>
		</div>

		<%= javascript_tag do %>
  		$(TF.UserFollowing.addFollowingListeners($("div#user-following-form")));
		<% end %>

	<% end %>
	<div id="user-following-stats">
		<a href="<%= followers_user_path %>">
			<strong id="followers-count"><%= @followers.count %></strong>
			Followers
		</a>
			|
		<a href="<%= followed_users_user_path %>">
			<strong id="followed-users-count"><%= @followed_users.count %></strong>
			Following
		</a>
	</div>
</div>
<hr>