<% content_for(:title) { "Users" } %>

<h1>
	<%= "Listing of all users" %>
</h1>

<ul class="users-list">
	<%=	render @users %>
	<%= javascript_tag do %>
		window.current_user = '<%= raw current_user.to_json %>';
	<% end %>
	<%= javascript_include_tag "users_display" %>
</ul>