<% content_for(:title) { @user.username } %>

<h1>
	<%= "#{@user.username}" %>
</h1>

<div class="row">
  <aside class="span4">
    <div id="profile-pic">
      <%= image_tag("rails.png") %>
    </div>
    <hr />

    <%= render partial: 'user_following' %>

    <div id="my-trips">
      <h3>
        My <%= @trips.count %> Trips:
      </h3>
      <ul>
        <%= render @trips %>
      </ul>
      <hr>
    </div>
    <div id="my-contributorships">
      <h3>
        Member of:
      </h3>
      <ul>
        <%= render partial: 'trips/trip', collection: @trips_contributed_to %>
      </ul>
      <hr>
    </div>
  </aside>

  <div class="span8">
    <h3>
      Trip Feed:
    </h3>
    <% if @followed_trips.nil? %>
      <h4>
        Follow <%= link_to "people", "#" %> or <%= link_to "trips", "#"%>
        to see them appear in your feed!
      </h4>
    <% else %>
      <h4>
        Content Goes HERE!
      </h4>
    <% end %>
  </div>
</div>
