<% content_for(:title) { @user.username } %>

<div class="row">
  <div class="span12">
    <h1 class="profile-title">
    	<%= "#{@user.username}" %>
    </h1>
    <% if @user.tagline %>
      <p class="profile-tagline">
        "<em><%= "#{@user.tagline}" %></em>"
      </p>
    <% end %>
  </div>
</div>


<div class="row">
  <aside class="span3 panel">
    <div id="profile-pic">
      <%= image_tag("generic-profile-picture.png") %>
    </div>
    <hr />

    <%= render partial: 'user_following' %>

    <div id="my-trips">
      <h3>
        My <%= @trips.count %> Trips:
      </h3>
      <ul>
        <%= render @trips %>
      </ul>
      <hr>
    </div>

    <div id="my-contributorships">
      <h3>
        Member of:
      </h3>
      <ul>
        <%= render partial: 'trips/trip', collection: @trips_contributed_to %>
      </ul>
      <hr>
    </div>

  </aside>

  <div class="span8 panel">
    <h2>
      Trip Feed:
    </h2>

    <p><em>
      <% if current_user == @user %>
        You are
      <% else %>
        <%= @user.username %> is
      <% end %>
      currently subscribed to <strong><%= link_to @user.subscribed_trips.count, trip_subscriptions_user_path(@user) %></strong> trips
        <% if @user.trips %>
          (and <%= @user.trips.count %> of your own!)
        <% end %>
    </p></em>
    <hr>

    <% if current_user == @user && @user.subscribed_trips.size < 1 && @user.trips.size < 0 %>
      <h4>
        Follow <%= link_to "people", users_path %>,
         subscribe to <%= link_to "trips", trips_path %>,
         or <%= link_to "create your own", new_trip_path %>
         to see them appear in your feed!
      </h4>
    <% else %>
      <ul class="user-trip-feed">
        <%= render partial: "shared/feed_item", collection: @feed_items %>
      </ul>
    <% end %>
  </div>
</div>
