<!-- *** Be sure to pass in the proper trip -->
<!-- *** Future: Pass in the button bootstrap classes *** -->
<% if current_user && trip.creator != current_user %>
  <% if current_user.subscribed_to?(trip) %>
    <div class="span2">
      <button class="unsubscribe btn-subscription btn btn-small btn-trip-<%= trip.id %>"
              data-url="<%= unsubscribe_trip_path(trip) %>">Unsubscribe
      </button>
      <button class="subscribe btn-subscription btn-primary btn btn-small btn-trip-<%= trip.id %>"
              data-url="<%= subscribe_trip_path(trip) %>"
              style="display: none"> <!-- << Here's the difference -->
              Subscribe
      </button>
    </div>
  <% else %>
    <div class="span2">
      <button class="unsubscribe btn btn-subscription btn-small btn-trip-<%= trip.id %>"
              data-url="<%= unsubscribe_trip_path(trip) %>"
              style="display: none"> <!-- << Here's the difference -->
              Unsubscribe
      </button>
      <button class="subscribe btn btn-subscription btn-small btn-primary btn-trip-<%= trip.id %>"
              data-url="<%= subscribe_trip_path(trip) %>">
              Subscribe
      </button>
    </div>
  <% end %>

  <%= javascript_tag do %>
    TF.Trip.addSubscriptionListeners($("button.btn-trip-<%= trip.id %>"));
  <% end %>

<% end %>